:root {
  --white: #ffffff;
  --black: #000000;
  --base-font: #4a4a4a;
  --yellow: #fda101;
  --primary: #148d8d;
  --orange: #fda101;
  --grey: #e0e0e0;
  --grey-2: #f4f5f8;

  --text: var(--black, #000);

  --shadow: 0px 4px 16px rgba(5, 78, 70, 0.1);

  @include media(">tiny") {
    --gap: 2rem;
    --halfGap: 1.75rem;
  }

  @include media("<=tiny") {
    --gap: 1rem;
    --halfGap: 1rem;
  }

  --wrap: calc(70.625rem + (var(--gap) * 2));
}
