@import "./scss-variables";
@import "../general/mixins.scss";

html,
button,
input,
textarea {
  font-family: Arial, Helvetica, "Roboto", sans-serif;
}

.lgv-h1 {
}

.lgv-h2 {
  font-weight: 400;
  line-height: 120%;

  @include media(">medium") {
    font-size: 2rem;
  }

  @include media("<=medium") {
    font-size: 1.75rem;
  }
}

.lgv-h3 {
}

.lgv-h4 {
}

.lgv-h5 {
}

.lgv-h6 {
}

.lgv-lead {
}

.lgv-reg {
  line-height: 165%;

  @include media(">medium") {
    font-size: 1.0625rem;
  }

  @include media("<=medium") {
    font-size: 0.875rem;
  }
}

.lgv-small {
  font-size: 0.938rem;
  line-height: 130%;
}

.lgv-tag {
  font-size: 0.875rem;
  line-height: 130%;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--primary);
}

.lgv-txt-upper {
  text-transform: uppercase;
}

.lgv-txt-bold {
  font-weight: 700;
}

// Colors
.lgv-white {
  color: var(--white);
}

.lgv-text {
  color: var(--text);
}

.lgv-base-font {
  color: var(--base-font);
}

.lgv-yellow {
  color: var(--yellow);
}

.lgv-primary {
  color: var(--primary);
}

.lgv-orange {
  color: var(--orange);
}
