{% import "./macros/_buttons.nj" as btn %}
{% import "./macros/_svg-icons.nj" as svg %}
{% import "./macros/_inputs.nj" as input %}

<!DOCTYPE html>
<html lang="en">

  <head>
    {% include './template/partials/_head.nj' %}
    <link rel="stylesheet" href="/styles/name-styles.css">
  </head>

  <style>
    ul > li {
      padding: 5px 0;
    }
    .lgv-fram-colors > li {
      display: flex;
      align-items: center;
    }
    .lgv-fram-colors > li > span {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      box-shadow: 0 0 4px #000;
    }
    .lgv-fram-block {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  </style>

  <body>
    <div class="lgv-wrap">

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Color</p>
        <hr>
        <ul class="lgv-lead name-fram-colors">
          <li>
            <span style="background:var(--white)"></span>var(--white): #FFFFFF
          </li>
          <li>
            <span style="background:var(--text)"></span>var(--text): #000000
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Typography</p>
        <hr>
        <ul class="lgv-fram-fonts">
          <li>
            <p class="lgv-h1">.lgv-h1 144px 72px</p>
          </li>
          <li>
            <p class="lgv-h2">.lgv-h2 44px 24px</p>
          </li>
          <li>
            <p class="lgv-h3">.lgv-h3 48px 44px 24px</p>
          </li>
          <li>
            <p class="lgv-h4">.lgv-h4 36px 24px 18px</p>
          </li>
          <li>
            <p class="lgv-h5">.lgv-h5 24px 18px</p>
          </li>
          <li>
            <p class="lgv-h6">.lgv-h6 16px</p>
          </li>
          <li>
            <p class="lgv-lead ">.lgv-lead 24px 16px</p>
          </li>
          <li>
            <p class="lgv-reg">.lgv-reg 16px 14px</p>
          </li>
          <li>
            <p class="lgv-txt-ceo">.lgv-txt-ceo 16px</p>
          </li>
          <li>
            <p class="lgv-small">.lgv-small 12px</p>
          </li>
          <li>
            <p class="lgv-txt-bg">.lgv-txt-bg 140px 50px</p>
          </li>
          <li>
            <p class="lgv-txt-strong">.lgv-txt-strong 16px 14px</p>
          </li>
          <li>
            <p class="lgv-txt-strong-list">.lgv-txt-strong-list 20px 18px</p>
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Typography colors</p>
        <hr>
        <ul class="lgv-lead name-fram-fonts">
          <li>
            <p class="lgv-text">.lgv-text</p>
          </li>
          <li>
            <p class="lgv-white" style="background: #ccc;">.lgv-white</p>
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Typography others</p>
        <hr>
        <ul class="lgv-lead name-fram-fonts">
          <li>
            <p class="lgv-txt-upper">.lgv-txt-upper</p>
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Buttons</p>
        <hr>
        <ul>
          <li style="background: #CCCCCC;">
            {{ btn.btnBase(".lgv-btn") }}
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Links</p>
        <hr>
        <ul>
          <li>
            <a href="#" class="lgv-link">.lgv-link</a>
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Inputs</p>
        <hr>
        input.inputTxt(type ="", placeholder = "", class = "", id = "")
        <div style="background: #ccc; padding: 5px;">
          {{ input.inputTxt("text", placeholder="placeholder") }}
        </div> 
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Icons</p>
        <hr>
        <p style="margin: 20px 0;">
          <strong>svg.icon('name')</strong>
        </p>
        <ul>
          <li>
            {{ svg.icon('icon-arrow-r') }} - <strong>icon-arrow-r</strong>
          </li>
        </ul>
      </div>

      <div class="lgv-fram-block">
        <hr>
        <p class="lgv-h5">Lists</p>
        <hr>
        <ul class="lgv-list name-list">
          <li>Some first item</li>
          <li>Some second item</li>
          <li>Some third item</li>
        </ul>
      </div>

    {% include './template/_svg-icons-symbols.nj' %}
  </body>
</html>
