@import '../../general/mixins.scss';
@import '../../framework/scss-variables.scss';

[class*="organs-icon"] {
  font-size: 20px;
  vertical-align: middle;
}

.organs-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.organs-icon-arrow-r {
  width: 1em;
  height: 1em;
}

.organs-head,
.organs-thyroid-gland,
.organs-virus,
.organs-bladder,
.organs-kidneys,
.organs-body,
.organs-lungs,
.organs-cell {
  @include media(">medium") {
    width: 94px !important;
    height: 94px !important;
  }

  @include media("<=medium") {
    width: 65px !important;
    height: 65px !important;
  }
}