@import "../../general/mixins.scss";
@import "../../framework/scss-variables.scss";

[class*="lgv-icon"] {
  font-size: 20px;
  vertical-align: middle;
}

.lgv-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lgv-icon-arrow-r {
  width: 1em;
  height: 1em;
}

.lgv-icon-award {
  width: 4.5rem;
  height: 4.5rem;
}

.lgv-icon-right-chevron {
  width: 0.313rem;
  height: 0.626rem;
}
