@import "../scss-variables.scss";
@import "../../general/mixins.scss";

body {
  min-width: $extratiny;
  color: var(--base-font);
}

body,
html {
  &.js-no-scroll {
    overflow: hidden;
  }
}

.lgv-wrap {
  margin: 0 auto;
  padding-right: var(--gap);
  padding-left: var(--gap);
  max-width: var(--wrap);
}

.lgv-section-gap {
  @include media(">medium") {
    margin-bottom: 120px;
  }

  @include media("<=medium") {
    margin-bottom: 80px;
  }
}

.lgv-link {
  transition: filter 0.2s linear;

  &:hover {
    filter: opacity(0.7);
  }
}

picture {
  display: inline-block;
}
