@import '../../general/mixins.scss';
@import '../../framework/scss-variables.scss';

.organs-sec {}

.organs {
  @include media(">1365px") {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include media("<=1365px") {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &-list {
    @include media(">1365px") {
      margin: -24px -16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      background-image: url('#{$pathToImg}hover-blocks/man.svg');
      background-repeat: no-repeat;
      background-position: center 0px;
      background-size: 690px auto;
    }

    @include media("<=1365px") {
      margin: -16px 0;
    }

    &>li {
      position: relative;

      @include media(">1365px") {
        padding: 16px;
        flex: 0 0 50%;
      }

      @include media("<=1365px") {
        padding: 16px 0;
      }

      &:nth-child(even) {
        @include media(">1365px") {
          text-align: right;
        }

        .organs-list__item {
          @include media(">1365px") {
            flex-direction: row-reverse;
          }
        }

        .organs-list__item-icon {
          @include media(">1365px") {
            margin-right: 0;
            margin-left: 16px;
          }
        }

        .organs-list__hover {
          @include media(">1400px") {
            left: initial;
            right: -100px;
          }

          @include media(">1365px", "<=1400px") {
            left: initial;
            right: -80px;
          }
        }
      }
    }

    &__item {
      padding: 16px;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      background-color: #EDEDED;

      @include media(">1365px") {
        width: 350px;
        box-shadow: 0 0 12px 6px rgba(90, 90, 90, 0.2);
      }

      @include media("<=1365px") {
        width: 100%;
        box-shadow: 0 0 7px 5px rgba(90, 90, 90, 0.2);
      }

      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #6CBC48;
        clip-path: inset(0 100% 0 0);
        transition: clip-path .1s linear;
      }

      &:hover {
        &::before {
          clip-path: inset(0 0 0 0);
        }

        &+.organs-list__hover {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }
      }

      &-icon {
        margin-right: 16px;
        display: inline-block;
        border-radius: 50%;
        flex-shrink: 0;

        &>svg {}
      }

      &-title {
        font-weight: bold;
        color: #374249;
        font-size: 19px;
      }
    }

    &__hover {
      padding-top: 20px;
      padding-bottom: 20px;
      position: absolute;
      top: calc(100% + -10px);
      opacity: 0;
      transition: opacity .2s .2s linear, clip-path .2s .2s linear;
      clip-path: inset(0 0 100% 0);
      z-index: 2;
      text-align: left;

      @include media(">1400px") {
        left: -100px;
      }

      @include media(">1365px", "<=1400px") {
        left: -80px;
      }

      @include media(">tiny", "<=1365px") {
        left: 0px;
        right: 0;
      }

      &-inner {
        position: relative;
        padding: 16px;
        background-color: #37424A;

        @include media(">1365px") {
          max-width: 600px;
        }

        @include media(">tiny", "<=1365px") {
          width: 600px;
          margin: 0 auto;
        }

        &::before {
          content: '';
          position: absolute;
          top: calc((18px / 2) * -1);
          left: calc(50% - 18px / 2);
          width: 18px;
          height: 18px;
          background-color: #37424A;
          transform: rotate(45deg);
          transform-origin: center center;
        }
      }

      &-title {
        padding-bottom: 16px;
        font-size: 24px;
        color: #6CBC48;
        font-weight: bold;
      }

      &-text {
        line-height: 1.25em;
        color: #FFFFFF;

        @include media(">1365px") {
          font-size: 14px;
        }
  
        @include media("<=1365px") {
          font-size: 12px;
        }

        &>p+p{
          padding-top: 12px;
          font: inherit;
          color: currentColor;
        }
      }

      &--top {
        top: initial;
        clip-path: inset(100% 0 0 0);

        @include media(">1365px") {
          bottom: 120px;
        }

        @include media("<=1365px") {
          bottom: 130px;
        }

        .organs-list__hover-inner {
          &:before {
            top: initial;
            bottom:  calc((18px / 2) * -1);
          }
        }
      }
    }
  }

  .organ-hover-list {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;

    &>li {
      line-height: 1.25em;
      color: #FFFFFF;
      list-style: disc;

      @include media(">1365px") {
        font-size: 14px;
      }

      @include media("<=1365px") {
        font-size: 12px;
      }
    }
  }
}